jupyterlab
# To deal with https://github.com/jupyter-server/jupyter_server/issues/1038
jupyter-server<2.0.0
voila
voila-material @ git+https://github.com/GLAM-Workbench/voila-material.git
pandas
requests
altair
python-dotenv
tqdm
ipywidgets